<Container className="grid grid-cols-1 mx-10">
  <Container>
    <Button
      className="btn my-button"
      (click)="clickBtn()"
      [disabled]="isClicked"
      >Default</Button
    >
    <Button className="btn-primary">Primary</Button>
    <Button className="btn-secondary">Secondary</Button>
    <Button [disabled]="true">Disabled</Button>
    <Button className="btn-error">Error</Button>
  </Container>
  <div *ngIf="isClicked">
    <h2 class="ml-2">Bundi Bundi</h2>
    <Input-email
      placeholder="Custom placeholder"
      labelText="My custom label text"
      [(value)]="emailValue"
    ></Input-email>
    <div *ngIf="emailValue">
      <h4>emailValue => {{ emailValue }}</h4>
      <Button className="btn my-button" (click)="clickBtn()">Click me!</Button>
    </div>
  </div>
  <Input-email
    placeholder="Custom placeholder"
    labelText="My label text"
    [(value)]="emailValue"
  ></Input-email>

  <!-- ! INI CONTAINER ICON -->
  <Container className="">
    <h2>HOLA</h2>
  </Container>
  <!-- ! END CONTAINER ICON -->
  <!-- ! INI HERE ICON -->
  <!-- ! USE ENUM IN VIEW -->
  <Container className="">
    <!-- <Icon type="{{ type }}"></Icon> -->
    <Icon type="bell" [isFill]="true"></Icon>
    <Icon type="bell"></Icon>
  </Container>
  <Container className="flex">
    <Icon type="email" svgClass="h-10 w-10"></Icon>
  </Container>
  <!-- <div>
  </div> -->
  <!-- ! END HERE ICON -->
</Container>
