<nav class="w-full mx-auto bg-white shadow z-20 relative">
  <div
    class="justify-between container px-6 h-16 flex items-center lg:items-stretch mx-auto"
  >
    <div class="flex items-center">
      <div class="mr-10 flex items-center">
        <Icon type="{{ iconEnum.LOGO }}"></Icon>
        <h3
          class="text-base text-gray-800 font-bold tracking-normal leading-tight ml-3 hidden lg:block"
        >
          Bizaway
        </h3>
      </div>
      <ul class="pr-32 xl:flex hidden items-center h-full">
        <li
          class="hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm tracking-normal"
        >
          <a routerLink="">Dashboard</a>
        </li>
        <li
          class="hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm text-gry-800 mx-10 tracking-normal relative"
          (click)="isList === 7 ? setIsList(0) : setIsList(7)"
        >
          <ul
            *ngIf="isList === 7"
            class="bg-white shadow rounded py-1 w-32 left-0 mt-16 -ml-4 absolute top-0"
          >
            <li
              class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"
            >
              <a routerLink="hotel/booking">Bookings</a>
            </li>
            <li
              class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"
            >
              <a routerLink="hotel/search">Search</a>
            </li>
          </ul>
          Hotel
          <div class="ml-2">
            <Icon type="{{ iconEnum.CHEVRON_DOWN }}" svgClass="w-4 h-4"></Icon>
          </div>
        </li>
        <li
          class="hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm text-gray-800 tracking-normal relative"
          (click)="isList === 6 ? setIsList(0) : setIsList(6)"
        >
          <ul
            *ngIf="isList === 6"
            class="bg-white shadow rounded py-1 w-32 left-0 mt-16 -ml-4 absolute top-0"
          >
            <li
              class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"
            >
              <a routerLink="train/booking">Bookings</a>
            </li>
            <li
              class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"
            >
              <a routerLink="train/search">Search</a>
            </li>
          </ul>
          Train
          <div class="ml-2">
            <Icon type="{{ iconEnum.CHEVRON_DOWN }}" svgClass="w-4 h-4"></Icon>
          </div>
        </li>
      </ul>
    </div>
    <div class="h-full xl:flex hidden items-center justify-end">
      <div class="h-full flex items-center">
        <div
          class="w-32 pr-16 h-full flex items-center justify-end border-r"
        ></div>
        <div class="w-full h-full flex">
          <div
            class="w-16 xl:w-32 h-full flex items-center justify-center xl:border-r"
          >
            <div class="relative">
              <div class="w-6 h-6 xl:w-auto xl:h-auto text-gray-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-bell"
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                  ></path>
                  <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                </svg>
              </div>
              <div
                class="animate-ping w-2 h-2 rounded-full bg-red-400 border border-white absolute inset-0 mt-1 mr-1 m-auto"
              ></div>
            </div>
          </div>
          <div
            aria-haspopup="true"
            class="cursor-pointer w-full flex items-center justify-end relative"
          >
            <ul
              class="p-2 w-40 border-r bg-white absolute rounded z-40 left-0 shadow mt-64 hidden"
            >
              <li
                class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none"
              >
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-user"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                  </svg>
                  <span class="ml-2">My Profile</span>
                </div>
              </li>
              <li
                class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-help"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <circle cx="12" cy="12" r="9" />
                  <line x1="12" y1="17" x2="12" y2="17.01" />
                  <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                </svg>
                <span class="ml-2">Help Center</span>
              </li>
              <li
                class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-settings"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                <span class="ml-2">Account Settings</span>
              </li>
            </ul>
            <img
              class="rounded-full h-10 w-10 object-cover"
              src="https://tuk-cdn.s3.amazonaws.com/assets/components/sidebar_layout/sl_1.png"
              alt="avatar"
            />
            <p class="text-gray-800 text-sm ml-2">Jane Doe</p>
          </div>
        </div>
      </div>
    </div>
    <div class="visible xl:hidden flex items-center">
      <div>
        <div id="menu" class="text-gray-800" (click)="clickMenu('true')">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-menu-2"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</nav>
